.amber-textarea textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 2px solid #CB3135;
    box-shadow: 0 1px 0 0 #CB3135;
    }

    #conteiner{
        width: 90%;
        height: 100%;
        display:flex; 
        justify-content:center;
        align-items:center;
    }

    #id_textArea{
    width: 40%;
    height: 20rem;
    line-height: 50px;
    text-align:center;
    
    /* pura mágica */
    position: absolute;
    top: 50%; /* posiciona na metade da tela */
    margin-top: -25px; /* e retrocede metade da altura */
    }

    #id_imgLogo{
        margin-top: 5%;
        position: auto;

    }
    #id_button{
        background-color: white;
        color: black;
        width: 250px;
        border: 2px solid #C83134; /* Green */
        margin-top:10px;
        transition-duration: 0.4s;
        border-radius: 6px;
    }

    #id_button:hover{
        background-color: #E5989A;
    }

    body {
    display:flex; 
    justify-content:center;
    align-items:center;
    }